<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>VueZagination</title>
  <link rel="stylesheet" type="text/css" href="public/css/css.css">
</head>
<body>
  <div id="vue-app">
    <p>{{ message }}</p>
    <p>
      current: <input type="number" v-model="current"><br>
      total: <input type="number" v-model="total">
    </p>
    <another-component></another-component>
    <zagination
      :current="current"
      :total="total"
      :custom_options="{central_max: 5, side_max: 5, is_prev_next: true, is_first_last: true}"
      @zagination_click="custom_handler"
    ></zagination>
  </div>
  <script type="text/javascript" src="public/js/js.js"></script>
</body>
</html>
