.vue-zagination {
  background-image: url("images/32-32-classic-car.jpg");

  .page {
    display: inline-block;
    border: solid 1px gray;
    padding: .1em .4em;
    margin-left: .2em;
    text-decoration: none;
    cursor: pointer;
    color: inherit;

    &.active {
      font-weight: bold;
    }
  }
  .separator {
    display: inline-block;
    padding: .1em .2em;
    margin-left: .2em;
  }
  & :first-child {
    margin-left: 0;
  }
}
