.vue-zagination {

  .page {
    display: block;
    float: left;
    border: solid 1px gray;
    padding: .1em .4em;
    margin-left: .2em;
    margin-top: .2em;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    user-select: none;

    &.active {
      font-weight: bold;
    }
  }

  .separator {
    display: block;
    float: left;
    padding: .1em .2em;
    border: solid 1px transparent;
    margin-left: .2em;
    margin-top: .2em;
    user-select: none;
  }

  & :first-child {
    margin-left: 0;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
